/* font */
@font-face { font-family: 'BMDOHYEON'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff'); font-weight: normal; font-style: normal; }
* {
    font-family: 'BMDOHYEON';
}

.banner {
    height: 350px;
    background: url("/static/page/images/foodtruckbanner.jpg");
    background-position: center;
    width: 100%;
    background-size: cover;
    position: relative;
}

.bannerText {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 70px;
    opacity: 0.9;
}

h1 {
    text-align: center;
    padding: 50px;
    font-size: 50px;
    margin-bottom: 0px;
}

.no-gutters {
    margin-bottom: 20px;
    border: 1px solid rgba(0,0,0,0.1);
}

.col-md-8 {
    border-left: 1px solid rgba(0,0,0,0.1);
}

.card-title {
    margin-top: 10px;
}

h5 {
    font-size: 2rem!important;
    text-align: center;
}

.card-body {
    margin-left: 20px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,0.1);
}

@media (min-width: 768px) {
    img {
        position:absolute;
        max-width:100%; max-height:100%;
        width:auto; height:auto;
        margin:auto;
        top:0; bottom:0; left:0; right:0;
    
    }
    
    .col-md-4 {
        position:relative;
    }
}