.imgContainer {
    position: relative;
}

.imgText {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.mjText {
    color: white;
    font-size: 70px;
    opacity: 0.9;
}

.img {
    width: 100%;
    height : 350px;
    opacity : 0.8;
}

.title {
    text-align: center;
    padding: 50px;
    font-size: 50px;
    margin-bottom: 0px;
    font-family: 'Do Hyeon', sans-serif;
}

.date {
    text-align: center;
    font-size: 30px;
    padding: 5px;
}

.singer{
    display: inline;
}

.singerImg {
    opacity: 0.9;
    width: 49%;
    height: 350px;
}

.singerContainer {
    display: inline;
    position: relative;
}

.singerText {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;
}

.carousel-item {
    text-align: center;
}

* {
    font-family: 'Do Hyeon', sans-serif;
}
