{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1>Lost And Found</h1>
        <h2><em>내껀 내꺼 니꺼도 내꺼?</em></h2>
        <a href="{% url 'lost_new' %}">
            <button class="btn btn-dark" value="글쓰기" type="button">글쓰기</button>
        </a>
        
        {% for stuff in stuffs %}
            <a href="{% url 'lost_detail' stuff.id %}"><h1>{{ stuff.title }}</h1></a>
            
            {% if stuff.author.is_superuser %}
            <p>익명</p>
            {% else %}
            <p>{{ stuff.author }}</p>
            {% endif %}
            
            <p>{{ stuff.pub_date }}</p>
            <p>{{ stuff.summary }}</p>
            <p>{% if stuff.found == False %}
                    아직 찾는중입니다
                    {% else %}
                    찾음
                    {% endif %}</p>
            <br>
        {% endfor %}

        
    </div>
{% endblock %}
