{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class='container'>

    <form method='POST' enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            <input type="text" name="title">
            <br>
            <input type="file" name="image">
            <br>
            <textarea class="form-control" name="content" rows="10" placeholder="내용을 입력해주세요"></textarea>
            <br>
            {% if not user.is_authenticated %}
            <input type="password" name="password">
            {% endif %}
        </table>
        <br>
        <input class="btn btn-dark" type="submit" value="제출하기">
        <a class="btn btn-dark" href="{%url 'lost_home'%}">이전으로</a>
    </form>
</div>


{% endblock %}