{% extends 'base.html' %}
{% load static %}

{% block content%}


<div class="container col-md-8">
  <div class="card">
    <div class="card-body">

      <p><h3>제목: {{ board_detail.title }}</h3></p>
      <p>작성자: {{ board_detail.author }}</p>
      <p>{{ board_detail.pub_date }}</p>
      {% if board_detail.image %}
        <img class="" src="{{ board_detail.image.url }}" alt="image" width="80%">
      {% endif %}
      <p><pre>{{ board_detail.content }}</pre></p>

    </div>
  </div>
</div>


{% endblock %}