.App {
  font-family: 'Do Hyeon', sans-serif;
  /* background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%); */
  /* background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%); */
  /* background-image: linear-gradient(to top, #50cc7f 0%, #f5d100 100%); */
  background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);
}

.card-title{
  text-align: center;
}

.subtit{
  color: white;
}

.footer-distributed{
  background-color: white;
  text-align: left;
  font: 15px sans-serif;
  height: auto;
  padding: 50px 35px;
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.col-lg-6{
  flex: 0 0 50%;
  max-width: 50%;
}
/* .col-sm-12{
  flex:0 0 100%;
  max-width: 100%;
} */
.col-lg-6{
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

*, ::after, ::before{
  box-sizing: border-box;
}
.carousel-inner {
    text-align: center;
}

.main_img img {
  display: block; margin: 0px auto;
}

footer.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

footer.footer .social-link {
  display: block;
  height: 4rem;
  width: 4rem;
  line-height: 4.3rem;
  font-size: 1.5rem;
  -webkit-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

footer.footer .social-link:hover {
  text-decoration: none;
}

@media only screen and (max-width: 1024px){
  .guest {
    width: 49% !important;
  }
}

h3 {
  margin-top: 20px;
}
