{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'page/css/booth.css' %}" type="text/css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-rwdImageMaps/1.6/jquery.rwdImageMaps.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(e){
        $('img[usemap]').rwdImageMaps();
    })
</script>
<!-- 아래부터 작성하세요 -->
<img src="{% static 'page/images/booth.jpg'%}" alt="부스배치도" usemap="#booth" style="width:100%">
<map name="booth">

    <area alt="" title="" href="{% url 'organization' %}" shape="rect" coords="149,39,766,128" style="outline:none;"
        target="_self" />

    <area alt="" title="" href="{% url 'organization' %}#1" shape="rect" coords="149,129,241,199" style="outline:none;"
        target="_self" />
    <area alt="" title="" href="{% url 'organization' %}#2" shape="rect" coords="240,129,328,199" style="outline:none;"
        target="_self" />
    <area alt="" title="" href="{% url 'organization' %}#3" shape="rect" coords="327,129,417,199" style="outline:none;"
        target="_self" />
    <area alt="" title="" href="{% url 'organization' %}#4" shape="rect" coords="416,129,502,199" style="outline:none;"
        target="_self" />
    <area alt="" title="" href="{% url 'organization' %}#5" shape="rect" coords="501,129,588,199" style="outline:none;"
        target="_self" />
    <area alt="" title="" href="{% url 'organization' %}#6" shape="rect" coords="587,129,680,199" style="outline:none;"
        target="_self" />
    <area alt="" title="" href="{% url 'organization' %}#7" shape="rect" coords="679,129,766,199" style="outline:none;"
        target="_self" />


    <area alt="" title="" href="{% url 'individual' %}" shape="rect" coords="281,511,753,584" style="outline:none;"
        target="_self" />

    <area alt="" title="" href="{% url 'individual' %}#1" shape="rect" coords="281,584,378,657" style="outline:none;"
        target="_self" />
    <area alt="" title="" href="{% url 'individual' %}#2" shape="rect" coords="377,584,471,657" style="outline:none;"
        target="_self" />
    <area alt="" title="" href="{% url 'individual' %}#3" shape="rect" coords="470,584,564,657" style="outline:none;"
        target="_self" />
    <area alt="" title="" href="{% url 'individual' %}#4" shape="rect" coords="563,584,657,657" style="outline:none;"
        target="_self" />
    <area alt="" title="" href="{% url 'individual' %}#5" shape="rect" coords="656,584,753,657" style="outline:none;"
        target="_self" />

</map>
<div>
    <br>
    <h3>체험하고 싶은 부스 클릭!</h3>
</div>
{% endblock %}
