{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'page/css/foodtruck.css' %}" type="text/css">

<!-- 아래부터 작성하세요 -->

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!-- JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<body>
  <div class="banner">
    <!-- <h2>Food Truck</h2> -->
  </div>
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-4">
        <div class="img-box">
        <img src="http://www.edudaily.co.kr/PEG/14804115707877.jpg" class="card-img" alt="...">
      </div>
    </div>
      <div class="col-md-8">
        <div class="card-title">
            <h5>shrimp</h5>  
        </div>
        <hr>
        <div class="card-body">
          <div class="row">
            <div class="col-3 col-xl-2">시간</div>
            <div class="col col-xl-10">17~22시</div>
          </div>
          <div class="row">
            <div class="col-3 col-xl-2">메뉴</div>
            <div class="col col-xl-10">새우</div>
          </div>
          <div class="row">
            <div class="col-3 col-xl-2">소개</div>
            <div class="col col-xl-10">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.
                Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="http://www.edudaily.co.kr/PEG/14804115707877.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-title">
            <h5>shrimp</h5>  
        </div>
        <hr>
        <div class="card-body">
          <div class="row">
            <div class="col-2 col-xl-2">시간</div>
            <div class="col col-xl-10">17~22시</div>
          </div>
          <div class="row">
            <div class="col-2 col-xl-2">메뉴</div>
            <div class="col col-xl-10">새우</div>
          </div>
          <div class="row">
            <div class="col-2 col-xl-2">소개</div>
            <div class="col col-xl-10">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="http://www.edudaily.co.kr/PEG/14804115707877.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-title">
            <h5>shrimp</h5>  
        </div>
        <hr>
        <div class="card-body">
          <div class="row">
            <div class="col-2 col-xl-2">시간</div>
            <div class="col col-xl-10">17~22시</div>
          </div>
          <div class="row">
            <div class="col-2 col-xl-2">메뉴</div>
            <div class="col col-xl-10">새우</div>
          </div>
          <div class="row">
            <div class="col-2 col-xl-2">소개</div>
            <div class="col col-xl-10">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="http://www.edudaily.co.kr/PEG/14804115707877.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-title">
            <h5>shrimp</h5>  
        </div>
        <hr>
        <div class="card-body">
          <div class="row">
            <div class="col-2 col-xl-2">시간</div>
            <div class="col col-xl-10">17~22시</div>
          </div>
          <div class="row">
            <div class="col-2 col-xl-2">메뉴</div>
            <div class="col col-xl-10">새우</div>
          </div>
          <div class="row">
            <div class="col-2 col-xl-2">소개</div>
            <div class="col col-xl-10">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="http://www.edudaily.co.kr/PEG/14804115707877.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-title">
            <h5>shrimp</h5>  
        </div>
        <hr>
        <div class="card-body">
          <div class="row">
            <div class="col-2 col-xl-2">시간</div>
            <div class="col col-xl-10">17~22시</div>
          </div>
          <div class="row">
            <div class="col-2 col-xl-2">메뉴</div>
            <div class="col col-xl-10">새우</div>
          </div>
          <div class="row">
            <div class="col-2 col-xl-2">소개</div>
            <div class="col col-xl-10">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>


{% endblock %}