{% extends 'base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'page/css/foodtruck.css' %}" type="text/css">

<!-- 아래부터 작성하세요 -->

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous">

<!-- JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"></script>

<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">Myongji Festa</a>
    <button aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarCollapse"
      data-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/info/lineup">라인업</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/info/foodtruck">푸드트럭</a>
        </li>

        <a class="nav-link" href="/info/booth">부스안내</a>
        <a class="nav-link" href="/info/bus">버스막차정보</a>
        <a class="nav-link" href="#">분실물</a>
        <a class="nav-link" href="#">자유게시판</a>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input aria-label="Search" class="form-control mr-sm-2" placeholder="Search" type="text" />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <div class="banner">
    <div class="bannerText">
      Food Truck
    </div>
  </div>

  <h1>푸드트럭 소개</h1>

  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-4">
        <div class="img-box">
        <img src="http://www.edudaily.co.kr/PEG/14804115707877.jpg" class="card-img" alt="...">
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-title">
            <h5>츄러스 스페셜에디션</h5>  
        </div>
        <hr>
        <div class="card-body">
          <div class="row">
            <div class="col-3 col-xl-2">메뉴</div>
            <div class="col col-xl-10">츄러스, 음료</div>
          </div>
          <div class="row">
            <div class="col-3 col-xl-2">가격대</div>
            <div class="col col-xl-10">2500원</div>
          </div>
          <div class="row">
            <div class="col-3 col-xl-2">소개</div>
            <div class="col col-xl-10">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="http://www.edudaily.co.kr/PEG/14804115707877.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-title">
          <h5>엉클스쿡</h5>  
        </div>
        <hr>
        <div class="card-body">
          <div class="row">
            <div class="col-2 col-xl-2">메뉴</div>
            <div class="col col-xl-10">닭꼬치, 마약핫도그</div>
          </div>
          <div class="row">
            <div class="col-2 col-xl-2">가격대</div>
            <div class="col col-xl-10">3500원 / 4000원</div>
          </div>
          <div class="row">
            <div class="col-2 col-xl-2">소개</div>
            <div class="col col-xl-10">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="http://www.edudaily.co.kr/PEG/14804115707877.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-title">
          <h5>온스트릿</h5>  
        </div>
        <hr>
        <div class="card-body">
          <div class="row">
            <div class="col-2 col-xl-2">메뉴</div>
            <div class="col col-xl-10">닭강정</div>
          </div>
          <div class="row">
            <div class="col-2 col-xl-2">가격대</div>
            <div class="col col-xl-10">5000원 / 8000원</div>
          </div>
          <div class="row">
            <div class="col-2 col-xl-2">소개</div>
            <div class="col col-xl-10">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="http://www.edudaily.co.kr/PEG/14804115707877.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-title">
          <h5>햅스후</h5>  
        </div>
        <hr>
        <div class="card-body">
          <div class="row">
            <div class="col-2 col-xl-2">메뉴</div>
            <div class="col col-xl-10">불고기바게트버거</div>
          </div>
          <div class="row">
            <div class="col-2 col-xl-2">가격대</div>
            <div class="col col-xl-10">5000원 / 7000원</div>
          </div>
          <div class="row">
            <div class="col-2 col-xl-2">소개</div>
            <div class="col col-xl-10">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="http://www.edudaily.co.kr/PEG/14804115707877.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-title">
          <h5>마쵸타코</h5>  
        </div>
        <hr>
        <div class="card-body">
          <div class="row">
            <div class="col-2 col-xl-2">메뉴</div>
            <div class="col col-xl-10">타코야끼</div>
          </div>
          <div class="row">
            <div class="col-2 col-xl-2">가격대</div>
            <div class="col col-xl-10">3000원 / 5000원</div>
          </div>
          <div class="row">
            <div class="col-2 col-xl-2">소개</div>
            <div class="col col-xl-10">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="http://www.edudaily.co.kr/PEG/14804115707877.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-title">
          <h5>궁럭</h5>  
        </div>
        <hr>
        <div class="card-body">
          <div class="row">
            <div class="col-2 col-xl-2">메뉴</div>
            <div class="col col-xl-10">대창컵밥</div>
          </div>
          <div class="row">
            <div class="col-2 col-xl-2">가격대</div>
            <div class="col col-xl-10">8900원</div>
          </div>
          <div class="row">
            <div class="col-2 col-xl-2">소개</div>
            <div class="col col-xl-10">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="http://www.edudaily.co.kr/PEG/14804115707877.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-title">
          <h5>바람처럼 구름처럼</h5>  
        </div>
        <hr>
        <div class="card-body">
          <div class="row">
            <div class="col-2 col-xl-2">메뉴</div>
            <div class="col col-xl-10">토시살 스테이크</div>
          </div>
          <div class="row">
            <div class="col-2 col-xl-2">가격대</div>
            <div class="col col-xl-10">9900원</div>
          </div>
          <div class="row">
            <div class="col-2 col-xl-2">소개</div>
            <div class="col col-xl-10">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="http://www.edudaily.co.kr/PEG/14804115707877.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-title">
          <h5>꺼야꺼야</h5>  
        </div>
        <hr>
        <div class="card-body">
          <div class="row">
            <div class="col-2 col-xl-2">메뉴</div>
            <div class="col col-xl-10">떡볶이, 분식</div>
          </div>
          <div class="row">
            <div class="col-2 col-xl-2">가격대</div>
            <div class="col col-xl-10">5000원</div>
          </div>
          <div class="row">
            <div class="col-2 col-xl-2">소개</div>
            <div class="col col-xl-10">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="http://www.edudaily.co.kr/PEG/14804115707877.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-title">
          <h5>아이피자유</h5>  
        </div>
        <hr>
        <div class="card-body">
          <div class="row">
            <div class="col-2 col-xl-2">메뉴</div>
            <div class="col col-xl-10">피자</div>
          </div>
          <div class="row">
            <div class="col-2 col-xl-2">가격대</div>
            <div class="col col-xl-10">10000원</div>
          </div>
          <div class="row">
            <div class="col-2 col-xl-2">소개</div>
            <div class="col col-xl-10">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="http://www.edudaily.co.kr/PEG/14804115707877.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-title">
          <h5>미정</h5>  
        </div>
        <hr>
        <div class="card-body">
          <div class="row">
            <div class="col-2 col-xl-2">메뉴</div>
            <div class="col col-xl-10">미정</div>
          </div>
          <div class="row">
            <div class="col-2 col-xl-2">가격대</div>
            <div class="col col-xl-10">미정</div>
          </div>
          <div class="row">
            <div class="col-2 col-xl-2">소개</div>
            <div class="col col-xl-10">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="http://www.edudaily.co.kr/PEG/14804115707877.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-title">
          <h5>미정</h5>  
        </div>
        <hr>
        <div class="card-body">
          <div class="row">
            <div class="col-2 col-xl-2">메뉴</div>
            <div class="col col-xl-10">미정</div>
          </div>
          <div class="row">
            <div class="col-2 col-xl-2">가격대</div>
            <div class="col col-xl-10">미정</div>
          </div>
          <div class="row">
            <div class="col-2 col-xl-2">소개</div>
            <div class="col col-xl-10">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="http://www.edudaily.co.kr/PEG/14804115707877.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-title">
          <h5>미정</h5>  
        </div>
        <hr>
        <div class="card-body">
          <div class="row">
            <div class="col-2 col-xl-2">메뉴</div>
            <div class="col col-xl-10">미정</div>
          </div>
          <div class="row">
            <div class="col-2 col-xl-2">가격대</div>
            <div class="col col-xl-10">미정</div>
          </div>
          <div class="row">
            <div class="col-2 col-xl-2">소개</div>
            <div class="col col-xl-10">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>


{% endblock %}