{% extends 'base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'page/css/foodtruck.css' %}" type="text/css">

  <div class="banner">
    <div class="bannerText">
      Food Truck
    </div>
  </div>

  <h1>푸드트럭 소개</h1>

  <div class="container">
    {% for food in foods %}
    <div class="row no-gutters">
      <div class="col-md-4">
        <div class="img-box">
        <img src="{{ food.image.url }}" class="card-img" alt="...">
        </div>
      </div>
      <div class="col-md-8">
        <div class="card-title">
            <h5>{{food.title}}</h5>  
        </div>
        <hr>
        <div class="card-body">
          <div class="row">
            <div class="col-3 col-xl-2">메뉴</div>
            <div class="col col-xl-10">{{food.menu}}</div>
          </div>
          <div class="row">
            <div class="col-3 col-xl-2">가격대</div>
            <div class="col col-xl-10">{{food.price}}</div>
          </div>
          <div class="row">
            <div class="col-3 col-xl-2">소개</div>
            <div class="col col-xl-10">{{food.content}}</div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>


{% endblock %}