{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'page/css/booth.css' %}" type="text/css">

<!-- 아래부터 작성하세요 -->
<img class="boothmain" src="{% static 'page/images/boothmain.jpg'%}" alt="">
<div class="container">
    <div class="row">
        <div class="card mb-3" style="min-width: 540px;" id="1">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{% static 'page/images/flower.jpg'%}" class="card-img" alt="..." max-width="200px">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-title">플라워</h4>
                        <h6>운영 시간 : 오전 10시 ~ 오후 5시 (14일 ~ 16일)</h6>
                        <h6 class="subtitle">에코백, 텀블러, 향수, 디퓨저 판매</h6>
                        <p class="card-text">에코백, 텀블러 : 5,000원
                            <br> 향수, 디퓨저 : 3,000원
                        </p>
                        <h6 class="subtitle">강아지 수제 애견간식 판매</h6>
                        <p class="card-text">닭가슴살 저키 100g : 4,000원
                            <br> 송아지 목뼈 150g : 5,000원
                            <br> 캥거루 꼬리 껌 100g : 4,000원</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" style="min-width: 540px;" id="2">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{% static 'page/images/japanese.jpg'%}" class="card-img-top" alt="">
                </div>
                <div class="col-md-8">

                    <div class="card-body">
                        <h4 class="card-title">일어일문학과</h4>
                        <h6 class="subtitle">쯔리,유카타 체험, 당고&라무네 판매</h6>
                        <p class="card-text">쯔리 : 한 판당 2,000원
                            <br>유카타 체험 : 5,000원
                            <br>당고 : 3,000원
                            <br>라무네 : 2,500원
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" style="min-width: 540px;" id="3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{% static 'page/images/ICT.png'%}" class="card-img" alt="">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h4 class="card-title">ICT융합대학</h4>
                        <h6>운영 시간 : 오전 11시 ~ 오후 5시 (14일 ~ 16일)</h6>
                        <h6 class="subtitle">아융이네 도장깨기</h6>
                        <p class="card-text">도장판(2,000원) 구매시 4개 종목 도전 가능
                            <br> 종목 : 물병 세우기 / 와이어퍼즐 풀기 / 소믈리에 / 숨은 그림 찾기
                            <br> 실패 시 종목 당 500원에 재도전 가능
                            <br> 경품 1등 : 백화점 상품권 15만원 / 2등 : 폴라로이드 카메라 / 3등 : BBQ 기프티콘
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" style="min-width: 540px;" id="4">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{% static 'page/images/saebit.png'%}" class="card-img" alt="">
                </div>
                <div class="col-md-8">

                    <div class="card-body">
                        <h4 class="card-title">새빛모리</h4>
                        <h6>운영 시간 : 오전 10시 30분 ~ 오후 5시 (14일 ~ 16일)</h6>
                        <h6 class="subtitle">토스트 판매</h6>
                        <p class="card-text">블루베리 크림치즈 토스트, 카야ㅊ즈토스트, 누텔라 바나나토스트
                            <br>단품 가격 : 2,800원 아이스티세트 3,500원 아이스티 : 1,000원
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" style="min-width: 540px;" id="5">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{% static 'page/images/administration.jpg'%}" class="card-img" alt="">
                </div>
                <div class="col-md-8">

                    <div class="card-body">
                        <h4 class="card-title">행정학과</h4>
                        <h6 class="subtitle">게임 진행, 키링 판매</h6>

                        <p class="card-text">행운의 동전 던지기
                            <br>핸드메이드 키링 : 3,000원 ~ 5,000원
                        </p>
                        <p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" style="min-width: 540px;" id="6">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{% static 'page/images/youth.jpg'%}" class="card-img" alt="">
                </div>
                <div class="col-md-8">

                    <div class="card-body">
                        <h4 class="card-title">청소년 지도학과</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk
                            of
                            the
                            card's content.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" style="min-width: 540px;" id="7">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{% static 'page/images/honggi.jpg'%}" class="card-img" alt="">
                </div>
                <div class="col-md-8">

                    <div class="card-body">
                        <h4 class="card-title">홍기단</h4>
                        <h6>운영 시간 : 오전 10시 ~ 오후 5시 (14일 ~ 15일)</h6>
                        <h6 class="subtitle">에이드 판매</h6>
                        <p class="card-text">레몬에이드, 홍단에이드, 청단에이드 : 2,000원
                            <br>
                            마카롱 2개(명지대 유튜브 구독자에 한해) : 1,000원
                            <br>음료 구매시 음료당 마카롱 한개 증정
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}