{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- CSS Styles -->
<br>
<br>
<div class="col-md-6 center-align">
    <h3 style="text-align:center">아래 정보는 명지월드로부터 제공받은 정보입니다.<br>명지월드로 가려면 <a href="https://www.facebook.com/myongjiworld/">클릭!</a></h3>
</div>

<link rel="stylesheet" href="{% static '/page/css/style.css' %}">

{% for mjworld in mjworlds %}
<br>
<br>
<div class="card col-md-6 center-align">
  <br>
  <img src="{{ mjworld.image.url }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ mjworld.title }}</h5>
    <p class="card-text">{{ mjworld.content }}</p>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#detail{{mjworld.id}}">더 알아보기</button>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="detail{{mjworld.id}}" tabindex="-1" role="dialog" aria-labelledby="detaillLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="detailLabel">{{ mjworld.title }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        전화번호 : {{ mjworld.tel }}
        <br>
        <br>
        영업시간 : {{ mjworld.time }}
        <br>
        <br>
        대표메뉴 : {{ mjworld.menu }}
        <br>
        <br>
        가격대 : {{ mjworld.price }}
        <br>
        <br>
        포장유무 : {{ mjworld.takeout }}
        <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



{% endfor %}

{% endblock %}
